<%- include ("./partials/header") %>
<%- include ("./partials/navBar") %>

<h1 class="text-center">Edit <%= campground.name %> </h1>
<div class="container">
    <div style="width: 30%; margin: 0 auto;">
        <form action="/photos/<%= campground._id %>/?_method=put" method="post">
            <div class="form-group">
               <label for="name">Title ...</label>
               <input class="form-control" type="text" name="name" placeholder="name" value="<%= campground.name %>" required> 
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="imageURL" placeholder="image URL" value="<%= campground.imageURL %>" required>
            </div>
            <div class="form-group">
                <textarea class="form-control" type="text" name="description" placeholder="description" required rows="4"><%= campground.description %></textarea>
            </div>
            <hr>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Save</button>
            </div>
        </form>
        <a href="/photos/<%= campground._id %>">Go Back</a>
    </div>
    
</div>

<%- include ("./partials/footer") %>
